:root {
  --bg-color: #1c1c1c; /* um tom de preto escuro para o fundo principal */
  --second-bg-color: #333333; /* um tom de cinza médio para o fundo secundário */
  --text-color: #cccccc; /* um tom de cinza claro para o texto */
  --text-color-secondary: #aaaaaa; /* um tom de cinza mais claro para o texto secundário */
  --main-color: #2ecc71; /* um tom de verde brilhante para a cor principal */
  --second-color: #27ae60; /* um tom mais claro de verde para uma cor secundária */
  --error-color: #f03621;
  --bg-gradient: linear-gradient(to right, #1c1c1c, #1a6d54);
  --bg-transparent: #1c1c1c5b;
  --button-gradient: linear-gradient(to right, #34ac66, #3af086);
  --icon-color: #ffffff;
}

:root.light {
  --bg-color: #ffffff; /* um branco puro para o fundo principal */
  --second-bg-color: #f2f2f2; /* um tom de cinza claro para o fundo secundário */
  --text-color: #333333; /* um tom de cinza escuro para o texto */
  --text-color-secondary: #555555; /* um tom de cinza mais claro para o texto secundário */
  --main-color: #007acc; /* um tom de azul brilhante para a cor principal */
  --second-color: #55a7e6; /* um tom mais claro de azul para uma cor secundária */
  --error-color: #e60000;
  --bg-gradient: linear-gradient(to right, #ffffff, #45b9f0);
  --bg-transparent: #ffffff45;
  --button-gradient: linear-gradient(to right, #55a7e6, #0769ab);
  --icon-color: #1c1c1c;
}

.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

body {
  color: var(--bg-color);
  min-height: 100vh;
  background-image: var(--bg-gradient);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  background: var();
  margin: auto auto;
  border: 1px solid var(--text-color);
  box-shadow: 0px 0px 10px 1px var(--text-color);
  border-radius: 5px;
  padding: 3rem;
  flex-direction: column;
  animation: shadow 3s ease-in-out infinite;
}

.bx {
  padding: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  font-size: 2.5rem;
  margin: 2rem auto;
}

h1 {
  font-size: 3rem;
  color: var(--text-color-secondary);
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bold;
}

@keyframes shadow {
  0% {
    box-shadow: 0px 0px 10px 1px var(--text-color-secondary);
  }
  50% {
    box-shadow: 0px 0px 10px 4px var(--text-color-secondary);
  }
  100% {
    box-shadow: 0px 0px 10px 1px var(--text-color-secondary);
  }
}

form .form-group {
  width: 100%;
  position: relative;
  padding: 1rem 2rem;
}

.form-group label {
  font-size: 1.5rem;
}

.inp-group {
  display: flex;
  justify-content: start;
}

.form-group .inp-group input {
  width: 300px;
  height: 40px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 1.5rem;
  background-color: var(--main-color);
  box-shadow: -1px 0px 5px -1px var(--second-color);
  color: var(--bg-color);
}

.icon {
  padding: calc((40px - 16px) / 2);
  background-color: var(--main-color);
  box-shadow: -1px 0px 5px -1px var(--second-color);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 0;
}

#togglePassword {
  position: absolute;
  top: 54%;
  right: 45px;
  transform: translateY(40%);
  font-size: 1.3rem;
  cursor: pointer;
}

ion-icon {
  color: var(--icon-color);
}

.lock {
  position: absolute;
  top: 78%;
  left: 140px;
  transform: translateY(40%);
  font-size: 1.3rem;
  cursor: pointer;
}

.btn {
  display: block;
  cursor: pointer;
  font-size: 1.3rem;
  width: 340px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  box-shadow: 0px 0px 5px var(--second-color);
  color: var(--bg-color);
}

.btn:hover:not(.btn.shake-horizontal) {
  background-image: var(--button-gradient);
  color: var(--bg-color);
  outline: none;
}

.form-group input:hover,
.form-group input:focus {
  background-color: var(--second-color);
  color: var(--bg-color);
  outline: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none !important;
}

.form-group .inp-group input:-webkit-autofill {
  -webkit-text-fill-color: var(--bg-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--second-color) inset;
}

.form-group input.shake-horizontal,
.form-group .btn.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  background-color: var(--error-color);
  border: 2px solid var(--error-color);
  box-shadow: none;
}

.form-group .icon.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  background-color: var(--error-color);
  border: none;
  box-shadow: none;
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

@media (max-width: 790px) {
  form {
    width: 350px;
  }

  .bx {
    font-size: 2rem;
    margin: 1.7rem auto;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
  }

  form .form-group {
    padding: 1rem;
  }

  .form-group label {
    font-size: 1.2rem;
  }

  .form-group .inp-group input {
    width: 250px;
  }

  #togglePassword {
    font-size: 1.2rem;
    top: 53%;
    right: 25px;
  }

  .lock {
    left: 75px;
    font-size: 1.2rem;
  }

  .btn {
    width: 220px;
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  form {
    width: 270px;
    padding: 1.5rem;
  }

  .bx {
    font-size: 1.5rem;
    margin: 1.5rem auto;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 0.6rem;
  }

  .form-group label {
    font-size: 1rem;
  }

  .form-group .inp-group input {
    width: 200px;
    height: 32px;
  }

  .icon {
    padding: calc((32px - 16px) / 2);
  }

  #togglePassword {
    font-size: 1.2rem;
    top: 49%;
    right: 25px;
  }

  .lock {
    left: 60px;
    top: 78%;
    font-size: 1rem;
  }

  .btn {
    width: 190px;
    font-size: 1rem;
    height: 32px;
  }
}
